In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls

df_social.csv  df_subjective_norm_temp.csv  Subjective_Norm.ipynb

In [3]:
df = pd.read_csv("df_social.csv")
df

,Unnamed: 0,IN_0_F_2011,IN_1_F_2011,IN_2_F_2011,IN_3_F_2011,IN_4_F_2011,IN_5_F_2011,IN_6_F_2011,IN_7_F_2011,IN_8_F_2011,...,OUT_92_F_2021,OUT_93_F_2021,OUT_94_F_2021,OUT_95_F_2021,OUT_96_F_2021,OUT_97_F_2021,OUT_98_F_2021,OUT_99_F_2021,OUT_100_F_2021,OUT_101_F_2021
0,100100,0.010188,0.009796,0.017241,0.012931,0.010188,0.008621,0.010188,0.009208,0.008033,...,0.001677,0.001398,0.000419,0.000699,0.000419,0.000000,0.000559,0.000140,0.00014,NaN
1,39,0.015363,0.021225,0.017586,0.015161,0.009905,0.010309,0.009905,0.009299,0.009501,...,0.002227,0.001417,0.001215,0.001417,0.001417,0.000405,0.000202,0.000607,NaN,NaN
2,39008,0.016791,0.018657,0.013060,0.014925,0.009328,0.009328,0.013060,0.000000,0.009328,...,0.004796,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
3,39016,0.024602,0.024602,0.024602,0.008683,0.013025,0.005789,0.005789,0.008683,0.011577,...,0.000000,0.000000,0.001511,0.001511,0.000000,0.001511,0.000000,0.000000,NaN,NaN
4,39020,0.018293,0.021341,0.015244,0.015244,0.010163,0.007114,0.016260,0.005081,0.008130,...,0.001070,0.000000,0.000000,0.000000,0.001070,0.000000,0.000000,0.000000,NaN,NaN
5,39025,0.000000,0.018519,0.024691,0.006173,0.030864,0.006173,0.024691,0.012346,0.006173,...,0.000000,0.006410,0.000000,0.000000,0.012821,0.000000,0.000000,0.000000,NaN,NaN
6,39035,0.008439,0.012658,0.025316,0.012658,0.016878,0.004219,0.008439,0.012658,0.012658,...,0.000000,0.000000,0.003906,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
7,39052,0.018640,0.016447,0.023026,0.014254,0.009868,0.012061,0.009868,0.002193,0.005482,...,0.001517,0.000000,0.000000,0.001517,0.001517,0.000000,0.000000,0.000000,NaN,NaN
8,39059,0.000000,0.005882,0.011765,0.000000,0.005882,0.005882,0.011765,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,39073,0.032895,0.021930,0.021930,0.021930,0.013158,0.006579,0.004386,0.010965,0.000000,...,0.000000,0.000000,0.002865,0.000000,0.000000,0.000000,0.002865,0.000000,NaN,NaN
10,39075,0.013321,0.015180,0.019827,0.011462,0.007745,0.008984,0.008984,0.008364,0.007745,...,0.003673,0.000918,0.000918,0.002143,0.001224,0.000918,0.000306,0.000306,NaN,NaN
11,39079,0.004808,0.014423,0.014423,0.019231,0.004808,0.014423,0.009615,0.009615,0.004808,...,0.000000,0.004587,0.004587,0.004587,0.000000,0.000000,0.000000,0.000000,NaN,NaN
12,39087,0.016129,0.018027,0.024668,0.008539,0.010436,0.014231,0.008539,0.002846,0.009488,...,0.000000,0.001119,0.003356,0.001119,0.001119,0.001119,0.000000,0.001119,NaN,0.001119

In [4]:
years = np.unique([x.split("_")[1] for x in df.columns[1:]])

In [5]:
df_base = pd.DataFrame(df.iloc[:,0])

In [6]:
for mode in ["IN", "OUT"]:
    for sex in ["F", "M"]:
        for year in years:
            my_regex = mode + "_" + year + "_" + sex + ".*"
            temp = df.filter(regex = my_regex)
            temp = temp.mean(axis = 1)
            df_base[my_regex] = temp

/home/jesus/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  import sys

In [7]:
pd.get_option("display.max_columns", None) 
df_base = df_base.rename(columns = {"Unnamed: 0" : "CODE"})

In [8]:
df_base

,CODE,IN_0_F.*,IN_1_F.*,IN_10_F.*,IN_100_F.*,IN_101_F.*,IN_102_F.*,IN_103_F.*,IN_104_F.*,IN_105_F.*,...,OUT_90_M.*,OUT_91_M.*,OUT_92_M.*,OUT_93_M.*,OUT_94_M.*,OUT_95_M.*,OUT_96_M.*,OUT_97_M.*,OUT_98_M.*,OUT_99_M.*
0,100100,0.009160,0.008565,0.007641,0.000071,0.000198,0.000197,NaN,0.000190,NaN,...,0.000725,0.000644,0.000464,0.000313,0.000276,0.000200,0.000162,0.000136,0.000144,0.000026
1,39,0.012559,0.015085,0.008711,0.000244,0.000284,0.000169,0.000213,0.000196,0.000193,...,0.001163,0.000914,0.000626,0.000757,0.000435,0.000282,0.000080,0.000159,0.000079,0.000040
2,39008,0.014081,0.018472,0.008747,NaN,NaN,0.002481,NaN,NaN,NaN,...,0.000241,0.000000,0.000000,0.000460,0.000000,0.000203,0.000000,0.000000,0.000000,0.000000
3,39016,0.013381,0.018603,0.007914,NaN,NaN,0.001385,NaN,NaN,NaN,...,0.000975,0.000260,0.000268,0.000369,0.000143,0.000127,0.000000,0.000000,0.000121,0.000000
4,39020,0.014798,0.017532,0.007774,NaN,NaN,0.001229,0.001215,NaN,NaN,...,0.000513,0.000090,0.000196,0.000284,0.000087,0.000206,0.000091,0.000000,0.000000,0.000000
5,39025,0.011667,0.018511,0.009537,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001577,0.001708,0.001109,0.000433,0.000541,0.000000,0.000541,0.000000,0.000000,0.000000
6,39035,0.012053,0.015398,0.008706,NaN,0.003623,NaN,NaN,NaN,NaN,...,0.001758,0.000704,0.001085,0.000818,0.000000,0.000732,0.000373,0.000000,0.000000,0.000000
7,39052,0.018815,0.017594,0.007367,0.001330,NaN,0.001230,NaN,NaN,NaN,...,0.000000,0.000597,0.000146,0.000000,0.000286,0.000128,0.000161,0.000000,0.000000,0.000000
8,39059,0.006579,0.002941,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.002994,0.000000,0.000000,0.002994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,39073,0.018133,0.022853,0.010182,0.002753,0.002415,NaN,NaN,NaN,NaN,...,0.001143,0.000313,0.000000,0.000311,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,39075,0.012156,0.013643,0.008657,0.000279,0.000312,NaN,NaN,0.000235,NaN,...,0.001006,0.000881,0.000480,0.000473,0.000268,0.000176,0.000092,0.000144,0.000108,0.000096
11,39079,0.012064,0.009000,0.006147,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001382,0.000962,0.000469,0.000000,0.000000,0.000342,0.000000,0.000000,0.000000,0.000389
12,39087,0.011317,0.016321,0.007705,0.000989,0.001033,0.001217,NaN,NaN,NaN,...,0.000367,0.000425,0.000372,0.000281,0.000248,0.000344,0.000090,0.000091,0.000000,0.000000

In [36]:
df_base.columns = [x.replace(".*", "") for x in df_base.columns]

In [38]:
df_base

,CODE,IN_0_F,IN_1_F,IN_10_F,IN_100_F,IN_101_F,IN_102_F,IN_103_F,IN_104_F,IN_105_F,...,OUT_90_M,OUT_91_M,OUT_92_M,OUT_93_M,OUT_94_M,OUT_95_M,OUT_96_M,OUT_97_M,OUT_98_M,OUT_99_M
0,100100,0.009160,0.008565,0.007641,0.000071,0.000198,0.000197,NaN,0.000190,NaN,...,0.000725,0.000644,0.000464,0.000313,0.000276,0.000200,0.000162,0.000136,0.000144,0.000026
1,39,0.012559,0.015085,0.008711,0.000244,0.000284,0.000169,0.000213,0.000196,0.000193,...,0.001163,0.000914,0.000626,0.000757,0.000435,0.000282,0.000080,0.000159,0.000079,0.000040
2,39008,0.014081,0.018472,0.008747,NaN,NaN,0.002481,NaN,NaN,NaN,...,0.000241,0.000000,0.000000,0.000460,0.000000,0.000203,0.000000,0.000000,0.000000,0.000000
3,39016,0.013381,0.018603,0.007914,NaN,NaN,0.001385,NaN,NaN,NaN,...,0.000975,0.000260,0.000268,0.000369,0.000143,0.000127,0.000000,0.000000,0.000121,0.000000
4,39020,0.014798,0.017532,0.007774,NaN,NaN,0.001229,0.001215,NaN,NaN,...,0.000513,0.000090,0.000196,0.000284,0.000087,0.000206,0.000091,0.000000,0.000000,0.000000
5,39025,0.011667,0.018511,0.009537,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001577,0.001708,0.001109,0.000433,0.000541,0.000000,0.000541,0.000000,0.000000,0.000000
6,39035,0.012053,0.015398,0.008706,NaN,0.003623,NaN,NaN,NaN,NaN,...,0.001758,0.000704,0.001085,0.000818,0.000000,0.000732,0.000373,0.000000,0.000000,0.000000
7,39052,0.018815,0.017594,0.007367,0.001330,NaN,0.001230,NaN,NaN,NaN,...,0.000000,0.000597,0.000146,0.000000,0.000286,0.000128,0.000161,0.000000,0.000000,0.000000
8,39059,0.006579,0.002941,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.002994,0.000000,0.000000,0.002994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,39073,0.018133,0.022853,0.010182,0.002753,0.002415,NaN,NaN,NaN,NaN,...,0.001143,0.000313,0.000000,0.000311,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,39075,0.012156,0.013643,0.008657,0.000279,0.000312,NaN,NaN,0.000235,NaN,...,0.001006,0.000881,0.000480,0.000473,0.000268,0.000176,0.000092,0.000144,0.000108,0.000096
11,39079,0.012064,0.009000,0.006147,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001382,0.000962,0.000469,0.000000,0.000000,0.000342,0.000000,0.000000,0.000000,0.000389
12,39087,0.011317,0.016321,0.007705,0.000989,0.001033,0.001217,NaN,NaN,NaN,...,0.000367,0.000425,0.000372,0.000281,0.000248,0.000344,0.000090,0.000091,0.000000,0.000000

In [40]:
df_base.to_csv("df_subjective_norm_temp.csv", index = False)

In [44]:
df_read = pd.read_csv("df_subjective_norm_temp.csv")

In [52]:
df_read.isnull().sum().sum()

226

In [49]:
39 in list(df_read["CODE"])

True